
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liftrr - Forgot your password?</title>
<%= stylesheet_link_tag 'logins' %>
</head>
<body>



<div id="login-box">
	
	
	<div id="login-top"><img src="/images/login-top.png"></div>
	
	<div id="login-content">
		<div id="login-left"></div>
		<div id="login-middle" style="padding-top:20px;height:180px;">
			
			<% form_for :session, :url => session_path do |form| %>
			  <div class="text_field" style="font-weight:bold;">
			    <%= form.label :email %><br/>
			    <%= form.text_field :email %>
			  </div>
			  <div class="text_field" style="font-weight:bold;">
			    <%= form.label :password %><br/>
			    <%= form.password_field :password %>
			  </div>
			  <div class="submit_field">
			    <%= form.submit "Sign in", :disable_with => "Please wait..." %>
			  </div>
			<% end %>
			
			
				<div class="signuplinks">
			    <%= link_to "Sign up", sign_up_path %><Br/>
			    <%= link_to "Forgot password?", new_password_path %>
				</div>
			
		</div>
		<div id="login-right"></div>
	</div>
	
    <div id="login-bottom"><img src="/images/login-bottom.png"></div>	        
            
</div>

</body>
</html>