<% today=Time.now.strftime("%m/%d/%Y") %>
<% if lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id != 8%>
<div class="item-exercise" style="clear:both;">
	<%=h lift.exercise.name %>
</div>
<div class="item-delete">
	<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
</div>
<div class="item-edit" style="width:30px;">
	<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
</div>
<div class="item-date">
 	<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="item-muscle">
 	<%=h lift.exercise.muscle.name %>
</div>
<div class="item-weight">
 	<%=h lift.weight %> lbs	
</div>
<% end %>
