<% @muscles.each do |muscle| %>
	<% if muscle.name != "Body" %>
	<% @muscleid = muscle.id %>
	

<div id="<%=h muscle.name %>">


<div id="content">
	
	<div id="content-wrap">
	   	
		<div id="left_menu">
        	<a href="#" onclick="
				Effect.Fade('right_content2<%=h muscle.name %>',{ duration: 0 });
				Effect.Fade('right_content3<%=h muscle.name %>',{ duration: 0 });
				Effect.Appear('right_content<%=h muscle.name %>',{ duration: 0.5 });
				return false">
				Add <%=h muscle.name %> Lifts</a><br/><br/>
	       	<a href="#" onclick="
				Effect.Fade('right_content<%=h muscle.name %>',{ duration: 0 });
				Effect.Fade('right_content3<%=h muscle.name %>',{ duration: 0 });
				Effect.Appear('right_content2<%=h muscle.name %>',{ duration: 0.5 }); return false">  
        		All <%=h muscle.name %> Lifts</a><br/><br/>
        	<a href="#" onclick="
				Effect.Fade('right_content<%=h muscle.name %>',{ duration: 0 });
				Effect.Fade('right_content2<%=h muscle.name %>',{ duration: 0 });
				Effect.Appear('right_content3<%=h muscle.name %>',{ duration: 0.5 }); return false">
	        	By Exercise</a>
        </div>
	    
		<div class="right_content" id="right_content<%=h muscle.name %>">

			<div class="headly">
				<h1>Add <%=h muscle.name %> Lift
					<span style="float:right;font-weight:normal;font-size:14px;">
						* Each exercise may only have 1 entry per day!
					</span>
				</h1>
			</div>

			<div id="enter_stuff">
				
				<%= render "input", :muscleid => @muscleid  %>
						
			</div>
					
						<div style="clear:both;"></div>
						
			</div>
        </div>

		<div class="right_content2" id="right_content2<%=h muscle.name %>" style="display:none;">
			<div class="headly">
				<h1>All <%=h muscle.name %> Lifts</h1>
			</div>	

			<div class="lifts-list">

				<div class="head-item-exercise">
					Exercise	
				</div>
				<div class="head-item-delete">
					Delete	
				</div>
				<div class="head-item-edit">
					Edit	
				</div>
				<div class="head-item-date">
					Date	
				</div>
				<div class="head-item-muscle">
					Muscle	
				</div>
				<div class="head-item-weight">
					Weight	
				</div>

				<% @lifts.each do |lift| %>
				<% if lift.exercise.name != "Body Weight" && lift.exercise.muscle.name == muscle.name %>
				
				<div class="item-exercise" style="clear:both;">
			 		<%=h lift.exercise.name %>
			 	</div>
			 	<div class="item-delete">
			 		<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
			 	</div>
				<div class="item-edit" style="width:30px;">
			 		<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
			 	</div>
			 	<div class="item-date">
				 	<%=h lift.created_at.strftime("%m/%d/%Y") %>	
			 	</div>
			 	<div class="item-muscle">
				 	<%=h lift.exercise.muscle.name %>
			 	</div>
			 	<div class="item-weight">
				 	<%=h lift.weight %> lbs	
			 	</div>
				<% end %>
				<% end %>

				<!--><div style="display:none;width:90%;text-align:center;clear:both;"><#%= will_paginate @lifts %></div>-->

			</div>
			
		</div>	    

		<div class="right_content3" id="right_content3<%=h muscle.name %>" style="display:none;">

			
			
			<% @by_exercise.select {|exc| exc.lifts.count > 0 }.each do |exercise| %>
			<% if exercise.muscle_id == muscle.id %>
			<div class="headly">
				<h1><%=h exercise.name %></h1>
			</div>	

			<div class="lifts-list">

				<div class="head-item-exercise">
					Exercise	
				</div>
				<div class="head-item-delete">
					Delete	
				</div>
				<div class="head-item-edit">
					Edit	
				</div>
				<div class="head-item-date">
					Date	
				</div>
				<div class="head-item-muscle">
					Muscle	
				</div>
				<div class="head-item-weight">
					Weight	
				</div>

				<% exercise.lifts.select {|lift| lift.user == current_user}.each do |lift| %>
				
				<div class="item-exercise" style="clear:both;">
			 		<%=h lift.exercise.name %>	
			 	</div>
			 	<div class="item-delete">
			 		<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
			 	</div>
				<div class="item-edit" style="width:30px;">
			 		<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
			 	</div>
			 	<div class="item-date">
				 	<%=h lift.created_at.strftime("%m/%d/%Y") %>	
			 	</div>
			 	<div class="item-muscle">
				 	<%=h lift.exercise.muscle.name %>	
			 	</div>
			 	<div class="item-weight">
				 	<%=h lift.weight %> lbs	
			 	</div>
				<% end %>

				<!--><div style="display:none;width:90%;text-align:center;clear:both;"><#%= will_paginate @lifts %></div>-->
				<div style="clear:both;"><br></div>
			</div>
			<% end %>
			<% end %>

		</div>

		

	</div>

</div>

<% end %>
<% end %>

<div style="clear:both;"></div>

<div style="padding:0px 0 0 138px;margin-top:20px;">
<div style="-moz-border-radius:8px;
-moz-border-radius:8px;
border:1px solid #909090;
padding:0 0 20px;
width:850px;margin:auto;">

<div class="headly" style="margin-top:5px;">
	<h1>All Lifts Added Today</h1>
</div>
<p id="notice" style="display:hidden"><%= flash[:notice]%></p>
<div class="lifts-list">

	<div class="head-item-exercise">
		Exercise	
	</div>
	<div class="head-item-delete">
		Delete	
	</div>
	<div class="head-item-edit">
		Edit	
	</div>
	<div class="head-item-date">
		Date	
	</div>
	<div class="head-item-muscle">
		Muscle	
	</div>
	<div class="head-item-weight">
		Weight	
	</div>
	
	<div id="testly">
		<%= render :partial => "lift", :collection => @lifts %>
	</div>
	
	</div>
	<div style="clear:both;"></div>
</div>
</div>