<style type="text/css">
<!--
.text_field {
	float:left;
	text-align:left;
	padding:0px 10px 0 0;
	font-weight:bold;
}
.text_field input{
	background-image: url(/images/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-style:solid;
	border-width:1px;
	border-color:#898989;
	padding:8px;
	font-size:12px;
	font-family:arial;
}
.submit_field2 {
	float:left;
}
.submit_field2 input{
	margin-top:20px;
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:6px;
	font-size:16px;
}
.submit_field2 a{
	text-decoration:none;
	color:#fff;
}
.lifts-list{
	clear:both;
	padding:0 0 0 6px;
}
.headly h1{
	clear:both;
	border-bottom-style:solid;
	border-bottom-color:#BFBFBF;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.head-item{
	float:left;
	padding-right:20px;
	font-weight:bold;
	width:100px;
	
}
.max-item{
	float:left;
	padding-right:20px;
	width:100px;
	height:26px;
	line-height:26px;
}
.max-item2{
	float:left;
	padding-right:20px;
	width:100px;
	height:26px;
	line-height:26px;
	background-color:#eee;
}
.pencil{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: bottom;
}
.pencil:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: top;
}
.delete{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: top;
}
.delete:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: bottom;
}
.flash2{
	width:700px;
	height:35px;
	line-height:35px;
	background-color:#7d0000;
	margin:auto;
	font-family:arial;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:#fff;
}
#enter-stuff{
	clear:both;
	background-color:#f6f6f6;
	border-width:1px;
	border-color:#ddd;
	border-style:solid;
	width:630px;
	margin:auto;
	padding:10px;
}
.oneaday{
	clear:both;
	background-color:#fafafa;
	border-width: 0 1px 1px 1px;
	border-color:#eee;
	border-style:solid;
	width:640px;
	margin:auto;
	padding:5px;
}
-->
</style>


<div id="flash">
  <% flash.each do |key, value| -%>
    <div class="flash2" id="flash_<%= key -%>"><%= html_escape(value) %></div>
  <% end -%>
</div>

<div class="headly">
<h1>Enter Today's Weights</h1>
</div>


<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 1%>
 	<% @a=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 2%>
 	<% @b=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 3%>
 	<% @c=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 4%>
 	<% @d=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 5%>
 	<% @e=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 6%>
 	<% @f=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 7%>
 	<% @g=1 %>
 <% end %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today && lift.exercise_id == 8%>
 	<% @bw=1 %>
 <% end %>
<% end %>
	
	
	
	<div id="enter-stuff">
		
		<% if @a==1 && @b==1 && @c==1 && @d==1 && @e==1 && @f==1 && @g==1 %> 

			Sorry, you have already entered your weights for today, feel free to edit them below!
			
		<% else %>
		<% form_for(@lift) do |f| %>
		  <%= f.error_messages %>
		
			<div style="float:left;">
		
		  	<div class="text_field">
		    <%= f.label :exercise_id %><br />

			<%= exercise_select(f) %>

			</div>
		    <div class="text_field">
			<%= f.label :weight %><br />
		    <%= f.text_field (:weight, :size=>3) %>
			</div>
			<div class="text_field">
			Date<br />
			<div style="font-weight:normal;margin-top:10px;">
			<%=h Time.now.strftime("%m/%d/%Y") %>
			</div>
			</div>
		    <div class="submit_field2" style="margin-top:-5px">
		    <%= f.submit 'Add Max' %>
			</div>

			<input id="lift_user_id" name="lift[user_id]" size="30" type="hidden" value="<%=h current_user.id %>" >
			
			</div>
			
			<% end %>	


		<% end %>

		<% if @bw!=1 %> 
		<% form_for(@lift) do |f| %>
		<%= f.error_messages %>
		
		<div style="float:left;border-left:1px solid #ccc;padding-left:10px;margin-left:10px;">
		<div class="text_field">
		Body Weight<br>
		<%= f.text_field (:weight, :size=>5) %>
		</div>
		<div class="submit_field2" style="margin-top:-5px">
		<%= f.submit '+ Body Weight' %>
		</div>
		</div>

		<input id="lift_exercise_id" name="lift[exercise_id]" size="30" type="hidden" value="8" >
		<input id="lift_user_id" name="lift[user_id]" size="30" type="hidden" value="<%=h current_user.id %>" >
		<% end %>	
		<% end %>
				
				
				<div style="clear:both;"></div>
				
	</div>
	
	<div class="oneaday">
		* Please note, each exercise may only have 1 entry per day!
	</div>
	
	<div class="headly">
	<h1>Today's Weights</h1>
	</div>

<div class="lifts-list">
	

<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>
<div class="head-item" style="width:30px;">
Edit	
</div>
<div class="head-item" style="width:30px;">
Delete	
</div>

<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today%>
 	<% @exname=Exercise.find(lift.exercise_id)%>
 	<div class="max-item" style="clear:both;">
 	<%=h @exname.name %>	
 	</div>
 	<div class="max-item">
 	<%=h lift.weight %> lbs	
 	</div>
 	<div class="max-item">
 	<%=h lift.created_at.strftime("%m/%d/%Y") %>	
 	</div>
 	<div class="max-item" style="width:30px;">
 	<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
 	</div>
 	<div class="max-item" style="width:30px;">
 	<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
 	</div>
 <% end %>
<% end %>

<% if x == 2 %>
 <% if lift.user_id == current_user.id && lift.created_at.strftime("%m/%d/%Y")==today%>

 	<% @exname=Exercise.find(lift.exercise_id)%>
 	<div class="max-item2" style="clear:both;">
 	<%=h @exname.name %>	
 	</div>
 	<div class="max-item2">
 	<%=h lift.weight %> lbs	
 	</div>
 	<div class="max-item2">
 	<%=h lift.created_at.strftime("%m/%d/%Y") %>	
 	</div>
 	<div class="max-item2" style="width:30px;">
 	<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
 	</div>
 	<div class="max-item2" style="width:30px;">
 	<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
 	</div>
	<% x=0 %>
 <% else %>
	<% x = 0 %>
 <% end %>

<% end %>

<% end %>
</div>

<div class="headly" style="clear:both;padding-top:15px;">
<h1>All of Your Weights</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>
<div class="head-item" style="width:30px;">
Edit	
</div>
<div class="head-item" style="width:30px;">
Delete	
</div>

<% x=0 %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id %>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item" style="width:30px;">
<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
</div>
<div class="max-item" style="width:30px;">
<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id %>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item2" style="width:30px;">
<a href="/lifts/<%=h lift.id %>/edit"><div class="pencil"></div></a>
</div>
<div class="max-item2" style="width:30px;">
<%= link_to '<div class="delete"></div>', lift, :confirm => 'Are you sure?', :method => :delete %>	
</div>
<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>