
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liftrr - Forgot your password?</title>
<%= stylesheet_link_tag 'logins' %>
</head>
<body>



<div id="login-box">
	
	
	<div id="login-top"><img src="/images/login-top.png"></div>
	
	<div id="login-content">
		<div id="login-left"></div>
		<div id="login-middle">
			
				<% form_for :password, :url => passwords_path do |form| %>
				  <div class="text_field">

					<h2>Change your password</h2>

					<p>
					 <span style="color:#666;text-shadow: 0 0;"> We will email you a link to change your password.</span>

				  </div>
				  <div class="text_field">
				    <%= form.label :email, "Email address" %><br/>
				    <%= form.text_field :email %>
				  </div>
				  <div class="submit_field">
				    <%= form.submit "Reset PWD", :disable_with => "Please wait..." %>
				  </div>
				<% end %>


					<div class="signuplinks">
				    <%= link_to "Sign in", sign_in_path %><Br/>
				    <%= link_to "Forgot password?", new_password_path %>
					</div>
			
		</div>
		<div id="login-right"></div>
	</div>
	
    <div id="login-bottom"><img src="/images/login-bottom.png"></div>	        
            
</div>

</body>
</html>