  <%= javascript_include_tag 'swfobject' %>

<div id="progress_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/amcharts/amline.swf", "progress_chart", "700", "380", "8", "#fff");
  so.addVariable("path", "/amcharts/");
  so.addVariable("settings_file", escape("/amcharts/amline_settings.xml"));
  so.addVariable("data_file", escape("<%= @progress_data_link %>"));
  so.addVariable("additional_chart_settings", "<settings><connect>true</connect><labels><label><x>250</x><y>25</y><text_size>18</text_size><text><![CDATA[<b>Your Maxes</b>]]></text></label></labels><export_as_image><file>/reports/export</file><color>#000</color><alpha>80</alpha></export_as_image><background><file>liftrr-logo.png</file></background><vertical_lines><width>20</width><alpha>70</alpha></vertical_lines></settings>");
  so.addVariable("preloader_color", "#000000");
  so.write("progress_chart");
  // ]]>
</script>


<% show_stats %>
<!-- Get Maxes-->
<% max_bench %>
<% max_squat %>
<% max_dead %>
<% max_row %>
<% max_tri %>
<% max_bi %>
<% max_mil %>
<!-- Get Maxes-->



<div style="width:700px;">
	
	<div class="oneaday">
		* Right click the chart and choose "Export as image" to download an image of the chart.
	</div>
	
<% if @bench==1 %>
<% @count=@count+1 %>
<div style="float:left;width:350px;margin-bottom:10px;">
<div class="headly">
<h1>Bench Press<div class="maxh1"><%=h @maxbench %> lbs max</div></h1>
</div>
<div class="lifts-list">
<div class="head-item" style="text-align:left;">
Date	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Up/Down
</div>
<div class="head-item">
% Change
</div>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>

<% if lift.user_id == current_user.id && lift.exercise_id==1	
	@weightchange1=lift.weight %>
<div class="max-item" style="clear:both;text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>	
<% @weightdif=@weightchange1-@weightchange2 %>
<%=h @weightchange1-@weightchange2 %> lbs 
<% end %>
</div>
<div class="max-item">
<% if @weightchange2!=0 %>
<%=h (@weightdif*100)/@weightchange2 %> %
<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
<% end %>
<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

			<div class="max-item" style="text-align:left;">
			</div>
			<div class="max-item">
			<strong>Total:</strong>	
			</div>
			<div class="max-item">
				<%=h sum %> lbs
			</div>
			<div class="max-item">
				<%=h sum2 %> %
			</div>
		
		
</div>
</div>
<% end %>

<% if @squat==1 %>
<% @count=@count+1 %>
<div style="float:left;width:350px;margin-bottom:10px;">
<div class="headly">
<h1>Squats<div class="maxh1"><%=h @maxsquat %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left;">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>

<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==2
		@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

			<div class="max-item" style="text-align:left;">
			</div>
			<div class="max-item">
			<strong>Total:</strong>	
			</div>
			<div class="max-item">
				<%=h sum %> lbs
			</div>
			<div class="max-item">
				<%=h sum2 %> %
			</div>
			
</div>

</div>
<% end %>

<% if @dead==1 %>
<% @count=@count+1 %>
<div style="float:left;width:350px;margin-bottom:10px;<% if @count==3 %>clear:both;<% end %>">
<div class="headly">
<h1>Deadlifts<div class="maxh1"><%=h @maxdead %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left;">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>


<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==3
	@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

			<div class="max-item" style="text-align:left;">
			</div>
			<div class="max-item">
			<strong>Total:</strong>	
			</div>
			<div class="max-item">
				<%=h sum %> lbs
			</div>
			<div class="max-item">
				<%=h sum2 %> %
			</div>
			
</div>

</div>
<% end %>

<% if @row==1 %>
<div style="float:left;width:350px;margin-bottom:10px;<% if @count==2 %>clear:both;<% end %>"><div class="headly">
<% @count=@count+1 %>
<h1>Rows<div class="maxh1"><%=h @maxrow %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left;">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>


<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==4
		@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

		<div class="max-item" style="text-align:left;">
		</div>
		<div class="max-item">
		<strong>Total:</strong>	
		</div>
		<div class="max-item">
			<%=h sum %> lbs
		</div>
		<div class="max-item">
			<%=h sum2 %> %
		</div>
		
</div>

</div>
<% end %>

<% if @tricep==1 %>
<div style="float:left;width:350px;margin-bottom:10px;<% if @count==2||@count==4 %>clear:both;<% end %>">
<div class="headly">
<% @count=@count+1 %>
<h1>Tricep Extensions<div class="maxh1"><%=h @maxtri %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left;">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>


<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==5
			@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

		<div class="max-item" style="text-align:left;">
		</div>
		<div class="max-item">
		<strong>Total:</strong>	
		</div>
		<div class="max-item">
			<%=h sum %> lbs
		</div>
		<div class="max-item">
			<%=h sum2 %> %
		</div>
		
</div>

</div>
<% end %>

<% if @bicep==1 %>
<div style="float:left;width:350px;margin-bottom:10px;<% if @count==2||@count==4||@count==6 %>clear:both;<% end %>">
<% @count=@count+1 %>
<div class="headly">
<h1>Bicep Curls<div class="maxh1"><%=h @maxbi %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>

<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==6
	@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

			<div class="max-item" style="text-align:left;">
			</div>
			<div class="max-item">
			<strong>Total:</strong>	
			</div>
			<div class="max-item">
				<%=h sum %>
			</div>
			<div class="max-item">
				<%=h sum2 %> %
			</div>
			

</div>

</div>
<% end %>

<% if @military==1 %>
<div style="float:left;width:350px;margin-bottom:10px;<% if @count==2||@count==4||@count==6 %>clear:both;<% end %>">
<% @count=@count+1 %>
<div class="headly">
<h1>Military Press<div class="maxh1"><%=h @maxmil %> lbs max</div></h1>
</div>

<div class="lifts-list">


	<div class="head-item" style="text-align:left;">
	Date	
	</div>
	<div class="head-item">
	Weight	
	</div>
	<div class="head-item">
	Up/Down
	</div>
	<div class="head-item">
	% Change
	</div>

<% today=Time.now.strftime("%m/%d/%Y") %>
<% @weightchange1=0 
   @weightchange2=0 
   sum=0
   sum2=0 %>
<% @lifts.each do |lift| %>
<% if lift.user_id == current_user.id && lift.exercise_id==7
		@weightchange1=lift.weight %>
<div class="max-item" style="text-align:left;">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs
</div>
<div class="max-item">
	<% if @weightchange2!=0
		sum=@weightchange1-@weightchange2+sum %>
	<% @weightdif=@weightchange1-@weightchange2 %>
	<%=h @weightchange1-@weightchange2 %> lbs
	<% end %>	
	
</div>
<div class="max-item">
	<% if @weightchange2!=0 %>
	<%=h (@weightdif*100)/@weightchange2 %> %
	<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
	<% end %>
	<% @weightchange2=lift.weight %>
</div>
<% end %>
<% end %>

		<div class="max-item" style="text-align:left;">
		</div>
		<div class="max-item">
		<strong>Total:</strong>	
		</div>
		<div class="max-item">
			<%=h sum %>
		</div>
		<div class="max-item">
			<%=h sum2 %> %
		</div>


</div>

</div>

<% end %>

</div>