  <%= javascript_include_tag 'swfobject' %>

<div id="progress_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/amcharts/amline.swf", "progress_chart", "700", "380", "8", "#fff");
  so.addVariable("path", "/amcharts/");
  so.addVariable("settings_file", escape("/amcharts/amline_settings.xml"));
  so.addVariable("data_file", escape("<%= @progress_data_link %>"));
  so.addVariable("additional_chart_settings", "<settings><connect>true</connect><labels><label><x>250</x><y>25</y><text_size>18</text_size><text><![CDATA[<b>Your Maxes</b>]]></text></label></labels><export_as_image><file>/reports/export</file><color>#000</color><alpha>80</alpha></export_as_image><background><file>liftrr-logo.png</file></background><vertical_lines><width>20</width><alpha>70</alpha></vertical_lines></settings>");
  so.addVariable("preloader_color", "#000000");
  so.write("progress_chart");
  // ]]>
</script>

<!-- Get Maxes-->
<% @count=0 %>
<!-- Get Maxes-->



<div style="width:700px;">
	
	<div class="oneaday">
		* Right click the chart and choose "Export as image" to download an image of the chart.
	</div>
	
<% @exercises.each do |exercise| %>

	<% if exercise.name!="Body Weight" %>
		
		<% @exyes=0 %>
  
   		<% @lifts.each_with_index do |lift, index|
        	if lift.user_id == current_user.id && lift.exercise_id == exercise.id
          		@exyes=1
        	end
     	end %>

	<% if @exyes==1 %>
	<% @exid=exercise.id%>
	<% max_main %>

		<div style="float:left;width:350px;margin-bottom:10px;<% if @count==2||@count==4||@count==6 %>clear:both;<% end %>">
		
			<% @count=@count+1 %>
		
			<div class="headly">
				<h1><%=h exercise.name %><div class="maxh1"><%=h @maxmain %> lbs max</div></h1>
			</div>

			<div class="lifts-list">

				<div class="head-item" style="text-align:left;">
					Date	
				</div>
				<div class="head-item">
					Weight	
				</div>
				<div class="head-item">
					Up/Down
				</div>
				<div class="head-item">
					% Change
				</div>

				<% today=Time.now.strftime("%m/%d/%Y") %>
				<% @weightchange1=0 
   				@weightchange2=0 
   				sum=0
   				sum2=0 %>
				
				<% @lifts.each do |lift| %>
					<% if lift.user_id == current_user.id && lift.exercise_id==exercise.id
						@weightchange1=lift.weight %>

						<div class="max-item" style="text-align:left;">
							<%=h lift.created_at.strftime("%m/%d/%Y") %>	
						</div>
						<div class="max-item">
							<%=h lift.weight %> lbs
						</div>
						<div class="max-item">
							<% if @weightchange2!=0
								sum=@weightchange1-@weightchange2+sum %>
								<% @weightdif=@weightchange1-@weightchange2 %>
								<%=h @weightchange1-@weightchange2 %> lbs
							<% end %>	
						</div>
						<div class="max-item">
							<% if @weightchange2!=0 %>
							<%=h (@weightdif*100)/@weightchange2 %> %
							<% sum2=(@weightdif*100)/@weightchange2+sum2 %>	
							<% end %>
							<% @weightchange2=lift.weight %>
						</div>
					<% end %>
				<% end %>

				<div class="max-item" style="text-align:left;">
				</div>
				<div class="max-item">
					<strong>Total:</strong>	
				</div>
				<div class="max-item">
					<%=h sum %> lbs
				</div>
				<div class="max-item">
					<%=h sum2 %> %
				</div>


			</div>
		</div>

		<% end %>
	<% end %>
<% end %>




</div>