<%= javascript_include_tag 'swfobject' %>
<style type="text/css">
<!--
.lifts-list{
	clear:both;
	padding:0 0 0 6px;
}
.flash2{
	width:700px;
	height:35px;
	line-height:35px;
	background-color:#7d0000;
	margin:auto;
	font-family:arial;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:#fff;
}

.enter-body-weight{
	float:left;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	background-color:#f6f6f6;
	border-width:0px 1px 1px;
	border-color:#ddd;
	border-style:solid;
	width:208px;
	text-align:center;
}
-->
</style>

<% @muscles.each do |muscle| %>
	<% if muscle.name == "Chest" %>
	<% @muscleid = muscle.id %>

<div id="<%=h muscle.name %>">


<div id="content">
	
	<div id="content-wrap">
	   	
		<div id="left_menu">
        	<a href="#" onclick="
				Effect.Fade('right_content2<%=h muscle.name %>',{ duration: 0 });
				Effect.Fade('right_content3<%=h muscle.name %>',{ duration: 0 });
				Effect.BlindDown('right_content<%=h muscle.name %>');
				return false">
				View stats</a><br/><br/>
<!--
        	<a href="#" onclick="
				Effect.Fade('right_content<%=h muscle.name %>',{ duration: 0 });
				Effect.Fade('right_content2<%=h muscle.name %>',{ duration: 0 });
				Effect.BlindDown('right_content3<%=h muscle.name %>'); return false">
	        	Coming Soon...</a>-->
        </div>
	    
		<div class="right_content" style="text-align:center;padding-top:30px;" id="right_content<%=h muscle.name %>">			
			
			<div id="progress_chart" class='chart' style="margin-left:25px;margin-bottom:20px;">
			  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
			  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
			</div>

			<script type="text/javascript">
			  // <![CDATA[    
			  var so = new SWFObject("/amcharts/amline.swf", "progress_chart", "800", "800", "8", "#fff");
			  so.addVariable("path", "/amcharts/");
			  so.addVariable("settings_file", escape("/amcharts/amline_settings.xml"));
			  so.addVariable("data_file", escape("<%= @progress_data_link %>"));
			  so.addVariable("additional_chart_settings", "<settings><connect>true</connect><export_as_image><file>/reports/export</file><color>#000</color><alpha>80</alpha></export_as_image><background><file>liftrr-logo.png</file></background><vertical_lines><width>20</width><alpha>70</alpha></vertical_lines><plot_area><margins><left>250</left><right>15</right><top>15</top></margins></plot_area><legend><x>10</x><y>30</y><max_columns>3</max_columns><border_alpha>100</border_alpha><width>180</width><margins>10</margins><values><text>{value} lbs</text></values></legend></settings>");
			  so.addVariable("preloader_color", "#000000");
			  so.write("progress_chart");
			  // ]]>
			</script>

			<!-- Get Maxes-->
			<% @count=0 %>
			<!-- Get Maxes-->
			
        </div>    

<!--		<div class="right_content3" id="right_content3<#%=h muscle.name %>" style="display:none;">
			<div class="headly">
				<h1>Coming Soon...</h1>
			</div>
		</div>
-->


	</div>
</div>
</div>
<% end %>
<% end %>









  

