  <%= javascript_include_tag 'swfobject' %>

<style type="text/css">
<!--
.text_field {
	float:left;
	text-align:left;
	margin-bottom:20px;
	padding:0px 10px 0 0;
	font-weight:bold;
}
.text_field input{
	background-image: url(/images/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-style:solid;
	border-width:1px;
	border-color:#898989;
	padding:8px;
	font-size:12px;
	font-family:arial;
}
.submit_field2 {
	float:left;
}
.submit_field2 input{
	margin-top:20px;
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:6px;
	font-size:16px;
}
.submit_field2 a{
	text-decoration:none;
	color:#fff;
}
.lifts-list{
	clear:both;
	padding:0 0 0 6px;
}
.headly h1{
	clear:both;
	border-bottom-style:solid;
	border-bottom-color:#BFBFBF;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.head-item{
	float:left;
	padding-right:00px;
	font-weight:bold;
	width:110px;

}
.max-item{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
}
.max-item2{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
	background-color:#eee;
}
.pencil{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: bottom;
}
.pencil:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: top;
}
.delete{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: top;
}
.delete:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: bottom;
}
-->
</style>

<div id="progress_chart" class='chart'>
  <strong>Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.</strong>
  <p> To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site</p>
</div>

<script type="text/javascript">
  // <![CDATA[    
  var so = new SWFObject("/amcharts/amline.swf", "progress_chart", "700", "380", "8", "#fff");
  so.addVariable("path", "/amcharts/");
  so.addVariable("settings_file", escape("/amcharts/amline_settings.xml"));
  so.addVariable("data_file", escape("<%= @progress_data_link %>"));
  so.addVariable("additional_chart_settings", "<settings><connect>true</connect><labels><label><x>250</x><y>25</y><text_size>18</text_size><text><![CDATA[<b>Your Maxes</b>]]></text></label></labels></settings>");
  so.addVariable("preloader_color", "#000000");
  so.write("progress_chart");
  // ]]>
</script>


<% @dead=2
@bench=2
@squat=2
@row=2
@tricep=2
@bicep=2
@military=2


@lifts.each_with_index do |lift, index|
      if lift.user_id == current_user.id && lift.exercise_id == 1
        @bench=1
      end
 end
 @lifts.each_with_index do |lift, index|
       if lift.user_id == current_user.id && lift.exercise_id == 2
         @squat=1
       end
  end
  @lifts.each_with_index do |lift, index|
        if lift.user_id == current_user.id && lift.exercise_id == 3
          @dead=1
        end
   end
   @lifts.each_with_index do |lift, index|
         if lift.user_id == current_user.id && lift.exercise_id == 4
           @row=1
         end
    end
    @lifts.each_with_index do |lift, index|
          if lift.user_id == current_user.id && lift.exercise_id == 5
            @tricep=1
          end
     end
     @lifts.each_with_index do |lift, index|
           if lift.user_id == current_user.id && lift.exercise_id == 6
             @bicep=1
           end
      end
      @lifts.each_with_index do |lift, index|
            if lift.user_id == current_user.id && lift.exercise_id == 7
              @military=1
            end
       end

%>

<div style="width:700px;">
	
<% if @bench==1 %>
<div style="float:left;width:350px;margin-bottom:30px;">
<div class="headly">
<h1>Bench Press</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==1%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==1%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @squat==1 %>
<div style="float:left;width:350px;margin-bottom:30px;">
<div class="headly">
<h1>Squats</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==2%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==2%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @dead==1 %>
<div style="float:left;width:350px;">
<div class="headly">
<h1>Deadlifts</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==3%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==3%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @row==1 %>
<div style="float:left;width:350px;">
<div class="headly">
<h1>Rows</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==4%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==4%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @tricep==1 %>
<div style="float:left;width:350px;">
<div class="headly">
<h1>Tricep Extensions</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==5%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==5%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @bicep==1 %>
<div style="float:left;width:350px;">
<div class="headly">
<h1>Bicep Curls</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==6%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==6%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>
<% end %>

<% if @military==1 %>
<div style="float:left;width:350px;margin-top:20px;">
<div class="headly">
<h1>Military Press</h1>
</div>

<div class="lifts-list">


<div class="head-item">
Exercise	
</div>
<div class="head-item">
Weight	
</div>
<div class="head-item">
Date	
</div>


<% x=0 %>
<% today=Time.now.strftime("%m/%d/%Y") %>
<% @lifts.each do |lift| %>
<% x=x+1 %>
<% if x == 1 %>
<% if lift.user_id == current_user.id && lift.exercise_id==7%>
<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item">
<%=h lift.weight %> lbs	
</div>
<div class="max-item">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>
<% end %>
<% end %>

<% if x == 2 %>
<% if lift.user_id == current_user.id && lift.exercise_id==7%>

<% @exname=Exercise.find(lift.exercise_id)%>
<div class="max-item2" style="clear:both;">
<%=h @exname.name %>	
</div>
<div class="max-item2">
<%=h lift.weight %> lbs	
</div>
<div class="max-item2">
<%=h lift.created_at.strftime("%m/%d/%Y") %>	
</div>

<% x=0 %>
<% else %>
<% x = 0 %>
<% end %>

<% end %>

<% end %>
</div>

</div>

<% end %>

</div>