
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liftrr - Track your exercises, view statistics</title>
<meta name="description" content="Free site to track your exercises and view detailed reports on slick, easy to use charts.">
<meta name="keywords" content="fitness tracking, exercise tracking, lift, liftr, liftrr">
<%= stylesheet_link_tag 'scaffold' %>
<style type="text/css">
<!--
body{
	font-family:arial;
	font-size:13px;
}
#container {
	margin: auto;
	width: 900px;
}
#header {
	padding-top: 20px;
	padding-bottom: 20px;
}
.menu{
	background-color: #C10000;
	width: 150px;
	padding: 4px;
	color: #FFF;
	text-align: right;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
}
#content{
	padding:0px;
	float:left;
}
.submit_field {
	float:right;
	margin-top:40px;
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:8px;
	font-size:16px;
}
.signin_field {
	float:right;
	margin-top:40px;
	color:#404040;
	font-weight:bold;
	padding:8px;
	font-size:16px;
}
.signedin {
	float:right;
	margin-top:40px;
	color:#404040;
	padding:8px;
	font-size:12px;
}
.signedin a{
	text-decoration:none;
}
.submit_field a{
	text-decoration:none;
	color:#fff;
}
.signin_field a{
	text-decoration:none;
}
#middlebar {
	background-image: url(/images/middle-bar.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 71px;
	width: 98%;
	line-height:78px;
	clear:both;
	color: #404040;
	font-size:24px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #fff;
	padding-left:2%;
}
.thicky {
	background-image: url(/images/footer-bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 61px;
	width: 90%;
	clear:both;
	text-align:left;
	padding:0 5%;
	line-height:61px;
	color: #404040;
	font-size:24px;
	font-weight:bold;
	text-shadow: 0px 1px 1px #fff;

}
.thicky2 {
	float:right;
	font-size:16px;
	text-decoration:none;
	line-height:61px;
	color: #404040;
	font-weight:bold;
	text-shadow: 0px 1px 1px #fff;
}
.thicky2 a{
	text-decoration:none;
}
.signupb{
	float:right;
	margin-top:40px;
	background-image: url(/images/sign-up-bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 23px;
	width: 70px;
	border: 1px solid #900;
	padding-top:10px;
	margin-right:12px;
	font-size:16px;
	line-height:10px;
	color:#fff;
	text-shadow: 0px 1px 1px #000;
	text-align:center;
	
}
.signupb a{
	font-size:16px;
	line-height:10px;
	color:#fff;
	text-shadow: 0px 1px 1px #000;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
}
.text_field {
	float:left;
	text-align:left;
	margin-bottom:20px;
	padding:0px 10px 0 0;
	font-weight:bold;
}
.text_field input{
	background-image: url(/images/input-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-style:solid;
	border-width:1px;
	border-color:#898989;
	padding:8px;
	font-size:12px;
	font-family:arial;
}
.submit_field2 {
	float:left;
}
.submit_field2 input{
	margin-top:20px;
	background-color:red;
	border-style:solid;
	border-color:red;
	border-width:1px;
	color:#fff;
	font-weight:bold;
	padding:6px;
	font-size:16px;
}
.submit_field2 a{
	text-decoration:none;
	color:#fff;
}
.lifts-list{
	clear:both;
	padding:0 0 0 6px;
}
.headly h1{
	clear:both;
	border-bottom-style:solid;
	border-bottom-color:#BFBFBF;
	border-bottom-width:1px;
	padding-bottom:10px;
}
.head-item{
	float:left;
	padding-right:00px;
	font-weight:bold;
	width:110px;

}
.max-item{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
}
.max-item2{
	float:left;
	padding-right:00px;
	width:110px;
	height:26px;
	line-height:26px;
	background-color:#eee;
}
.pencil{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: bottom;
}
.pencil:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/pencil.png);
	background-position: top;
}
.delete{
	margin-top:5px;
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: top;
}
.delete:hover{
	height: 18px;
	width: 16px;
	background-image: url(/images/delete.png);
	background-position: bottom;
}
.chart{
	float:left;
}
#lower-content{
	
	font-size:40px;
	font-weight:bold;
	text-align:center;
}
.lch{
	padding:40px;
}

.content-left{
	float:left;
	width:256px;
	font-size:20px;
	color:#b8b8b8;
	text-align:left;
	line-height:30px;
}
.content-middle{
	float:left;
}
.content-right{
	font-size:20px;
	color:#b8b8b8;
	float:left;
	width:256px;
	text-align:right;
	line-height:30px;
}
.blockout{
background-color:#484848;
color:#d0d0d0;
padding:0 10px;
}
-->
</style>
<%= javascript_include_tag 'swfobject' %>
</head>


<body>

	
	<div id="container">
    
    	<div id="header"><img src="/images/liftrr-logo.png" width="192" height="72" alt="logo" />
		  	
			<% if signed_out? %>
			
			<div class="signupb">
			
				<a href="http://liftrr.com/sign_up">Sign Up</a><Br/>
			</div>
			
			<div class="signin_field">
			<a href="http://liftrr.com/lifts">Sign in</a>
			</div>
		
			<% end %>
			<% if signed_in? %>
			
			<div class="signedin">
			<a href="http://liftrr.com/lifts">Welcome <%=h current_user.email %>, click here to view your lifts!					</a> or <a href="/sign_out">Logout</a>
			</div>
		
			<% end %>
		
		</div>
		
		<div class="thicky" style="font-size:14px;">
			
			Community Stats
			
			<div style="float:left;padding-left:20px;font-size:24px;">Exercise Breakdown</div>
			<div style="float:right;padding-right:20px;font-size:24px;">Daily Exercise Count</div>
			
		</div>
		
		
<div id="main">
            
 	<div id="content">
	
		<span style="color: green"><%= flash[:notice] %></span>

		<%= yield %>
	
	</div>
        
    </div>
    
    </div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-15742413-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>
</html>
