
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liftrr - Enter your maxes</title>
<%= stylesheet_link_tag 'scaffold' %>
<%= stylesheet_link_tag 'reports' %>
</head>

<body>
	<div id="container">
    
    	<div id="header"><img src="/images/liftrr-logo.png" width="192" height="72" alt="logo" />
			
			<div class="submit_field">
			
				<%= link_to "Sign out", sign_out_path %><Br/>
			</div>
		
			<div class="signedin">
			Welcome <%=h current_user.email %>
			</div>
		
		</div>
		
<div id="main">
        
	<div id="left-nav">
		<div class="menu">Menu</div>
		<div class="item"><a href="/lifts/">Enter Max Weights</a></div>
		<div class="reports"><a href="/reports/progress">View Statistics</a></div>
	</div>
            
            
 	<div id="content">
	
		<span style="color: green"><%= flash[:notice] %></span>

		<%= yield %>
	
	</div>
        
    </div>
    
    </div>

</body>
</html>
